.formacion h2 {
  font-size: 40px;
}

.formacion-container {
  margin-bottom: 20px;
}

.formacion-container h3 {
  font-size: 20px;
}

.formacion-container p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .formacion {
    padding: 0 10px;
  }
}
