.header {
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.opciones {
  display: flex;
  gap: 30px;
  font-size: 16px;
  text-transform: uppercase;
}

.opcion {
  text-decoration: none;
  color: var(--white);
}

.opcion:hover {
  font-weight: 900;
}

.opcion.active {
  font-weight: 700;
  border-bottom: 2px solid white;
}
